/*utils styles*/
:root {
  /*font sets*/
  --text-primary: "Roboto", sans-serif;
  /*font color sets*/
  --primary-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  /*btn sets*/
  --button-bg-color: #f5f4fa;
  --button-hover-color: #188ce8;
  /*background sets*/
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --second-background-color: #2f303a;
  /*icons fill*/
  --icon-color: #afb1b8;
  /*default animation effect*/
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*base styles*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
@media screen and (max-width: 1199px) {
  body.modal-open {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 250ms var(--animation-function);
  transition: color 250ms var(--animation-function);
}

.button {
  cursor: pointer;
}

.hidden {
  display: none;
}

/*components styles*/
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 10px 0;
  background-color: var(--primary-white-color);
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--accent-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
  padding-right: 83px;
  background-color: var(--primary-white-color);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms var(--animation-function);
  transition: -webkit-transform 250ms var(--animation-function);
  transition: transform 250ms var(--animation-function);
  transition: transform 250ms var(--animation-function), -webkit-transform 250ms var(--animation-function);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  color: #000;
}
.menu-container .menu-toggle {
  position: absolute;
  top: 0;
  right: 15px;
}

.menu-toggle__icon {
  fill: currentColor;
}

.mobile-menu {
  padding: 0;
  margin-bottom: auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  display: block;
  font-weight: 500;
  font-size: 8vw;
  line-height: 1.19;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}
.mobile-menu__link--current {
  color: var(--accent-color);
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 7vw;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-contacts__link--size {
  font-size: 5vw;
  line-height: 1.16;
  color: var(--primary-text-color);
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-socials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  font-weight: 500;
  font-size: 3.7vw;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-socials__item:not(:last-child) {
  margin-right: 10px;
}
.mobile-socials__item:not(:first-child)::before {
  content: "";
  display: block;
  margin-right: 10px;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  /*outline: 2px dotted red;*/
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.logo__text {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo__text {
    font-size: 26px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.logo__text--first-color {
  color: #000000;
}

.button {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  height: 50px;
  border-color: transparent;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms var(--animation-function) box-shadow 250ms var(--animation-function);
  transition: background-color 250ms var(--animation-function) box-shadow 250ms var(--animation-function);
}
.button:hover, .button:focus {
  background-color: var(--button-hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .menu {
    margin-left: 88px;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    margin-left: 93px;
  }
}

.nav-list {
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.menu__group {
  margin-left: auto;
}

.nav-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.nav-list__link--current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -1px;
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}
.nav-list__link--current {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .group {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.group__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .group__item:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
  }
}
.group__icon {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 767px) {
  .group__icon {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .group__icon {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
}
@media screen and (min-width: 767px) {
  .group__icon--size {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .group__icon--size {
    width: 10px;
    height: 16px;
  }
}

.group__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--animation-function);
  transition: color 250ms var(--animation-function);
}
.group__link:hover, .group__link:focus {
  color: var(--accent-color);
}

.order {
  max-width: 1600px;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_mob@1x_480.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_mob@1x_480.jpg");
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .order {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_mob@2x_960.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_mob@2x_960.jpg");
  }
}
@media screen and (min-width: 481px) {
  .order {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_tab@1x_768.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_tab@1x_768.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .order {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_tab@2x_1536.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_tab@2x_1536.jpg");
  }
}
@media screen and (min-width: 769px) {
  .order {
    min-height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_ds@1x_1600.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_ds@1x_1600.jpg");
    background-size: cover;
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .order {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_ds@2x_3200.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_ds@2x_3200.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .order {
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_ds@1x_1600.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_ds@1x_1600.jpg");
    background-size: 1600px 600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .order {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_ds@2x_3200.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_ds@2x_3200.jpg");
  }
}
.order__hero {
  margin-left: auto;
  margin-right: auto;
}

.hero {
  width: 360px;
  height: 164px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 696px;
    height: 200px;
  }
}
.hero__title {
  margin-bottom: 30px;
  font-family: "Roboto";
  font-weight: 800;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
@media screen and (min-width: 481px) {
  .hero__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.16;
  }
}
.hero__button {
  padding: 10px 24px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
.features-list__icon {
  margin-bottom: 30px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--button-bg-color);
}
.features-list__title {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}
.features-list__text {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (max-width: 767px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about {
  padding-top: 0;
}
.about__title {
  margin-bottom: 50px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}
.about-list__text {
  position: absolute;
  bottom: 0;
  padding: 27px;
  width: 100%;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .about-list__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

.about-list__img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.about-list__img::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--button-bg-color);
}
.team__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team-list__item {
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.team-card {
  padding: 30px 32px 24px;
  text-align: center;
}
.team-card__name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--title-text-color);
}
.team-card__role {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-card__social {
  margin-top: 16px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.social__text {
  margin-bottom: 10px;
  font-weight: 700;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.social__icon {
  fill: currentColor;
}

.social__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: color 250ms var(--animation-function), background-color 250ms var(--animation-function);
  transition: color 250ms var(--animation-function), background-color 250ms var(--animation-function);
}
.social__link:hover, .social__link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients__icon {
  fill: currentColor;
}

.clients__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 0;
  color: #afb1b8;
  -webkit-transition: color 250ms var(--animation-function), border-color, 250ms var(--animation-function);
  transition: color 250ms var(--animation-function), border-color, 250ms var(--animation-function);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
    max-width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
    margin: 15px;
    width: 170px;
  }
}

/*filter*/
@media screen and (max-width: 767px) {
  .filter {
    margin-bottom: 40px;
  }
}
.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .filter__list {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -4px;
  }
}
@media screen and (min-width: 768px) {
  .filter__list {
    -ms-flex-wrap: none;
        flex-wrap: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 768px) {
  .filter__item:not(:first-child) {
    margin-left: 8px;
  }
}

.button-second {
  display: inline-block;
  max-width: 130px;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation-function);
          transition-timing-function: var(--animation-function);
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .button-second {
    -ms-flex-preferred-size: calc((100% - 24px) / 3);
        flex-basis: calc((100% - 24px) / 3);
    margin: 4px;
  }
}
.button-second:hover, .button-second:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .artworks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.artworks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 450px;
}
@media screen and (max-width: 767px) {
  .artworks__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .artworks__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .artworks__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    max-width: 370px;
  }
}

.artworks-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow 250ms var(--animation-function) color 250ms var(--animation-function);
  transition: -webkit-box-shadow 250ms var(--animation-function) color 250ms var(--animation-function);
  transition: box-shadow 250ms var(--animation-function) color 250ms var(--animation-function);
  transition: box-shadow 250ms var(--animation-function) color 250ms var(--animation-function), -webkit-box-shadow 250ms var(--animation-function) color 250ms var(--animation-function);
}
.artworks-link:hover, .artworks-link:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.artworks-link__thumb {
  top: 0;
  left: 0;
  position: relative;
  overflow: hidden;
}

.artworks-link__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms var(--animation-function);
  transition: -webkit-transform 250ms var(--animation-function);
  transition: transform 250ms var(--animation-function);
  transition: transform 250ms var(--animation-function), -webkit-transform 250ms var(--animation-function);
}
.artworks-link:hover .artworks-link__text, .artworks-link:focus .artworks-link__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  position: absolute;
}

.artworks-wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.artworks-wrap__title {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.artworks-wrap__text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-background-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 76px;
    padding-right: 89px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 0;
  }
}

.logo__text--second-color {
  color: var(--primary-white-color);
}

.address {
  margin-top: 28px;
  font-style: normal;
}
.address__item:not(last-item) {
  margin-top: 12px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(last-item) {
    margin-top: 9px;
  }
}
.address__map {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.address__link {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.socials {
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .socials {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .socials {
    margin-left: 94px;
  }
}
.socials__text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.social__link--color {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  -webkit-transition: background-color 250ms var(--animation-function);
  transition: background-color 250ms var(--animation-function);
}

/*subscribe*/
@media screen and (min-width: 1200px) {
  .footer-subscribe {
    margin-left: 94px;
  }
}

.subscribe__text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.subscribe-form__input {
  padding: 0;
  padding-left: 16px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--animation-function) box-shadow 250ms var(--animation-function);
  transition: border 250ms var(--animation-function) box-shadow 250ms var(--animation-function);
}
@media screen and (min-width: 768px) {
  .subscribe-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 338px;
  }
}
.subscribe-form__input:hover, .subscribe-form__input:focus-within {
  border: 1px solid var(--accent-color);
}

.subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-box-shadow 250ms var(--animation-function);
  transition: -webkit-box-shadow 250ms var(--animation-function);
  transition: box-shadow 250ms var(--animation-function);
  transition: box-shadow 250ms var(--animation-function), -webkit-box-shadow 250ms var(--animation-function);
}
@media screen and (min-width: 1200px) {
  .subscribe__btn {
    margin-top: 0;
    margin-right: 0;
    margin-left: 12px;
  }
}

.button__icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  overflow-y: scroll;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 480px) {
  .backdrop {
    padding: 95px 15px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .backdrop {
    min-height: 858px;
  }
}
@media screen and (min-width: 768px) {
  .backdrop {
    min-height: 1024px;
    overflow-y: none;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translate(-50%, -65%);
          transform: translate(-50%, -65%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  position: relative;
  padding: 40px;
  border-radius: 4px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    min-height: 609px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    min-height: 581px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -65%);
          transform: translate(-50%, -65%);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-close {
  fill: #000000;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover, .icon-close:focus {
  fill: var(--accent-color);
}

.modal-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-title {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.form-field {
  display: block;
  position: relative;
  padding-top: 10px;
}

.form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 4px;
  padding-top: 11px;
  padding-left: 42px;
  padding-bottom: 11px;
  height: 40px;
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  display: block;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  margin-top: 10px;
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .form-icon {
  fill: var(--accent-color);
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-input:focus, .form-input:hover {
  border: 1px solid var(--accent-color);
}

.form-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
  color: var(--primary-text-color);
  resize: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message:hover,
.form-message:focus {
  border: 1px solid var(--accent-color);
}

.form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-size: 2.5vw;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 481px) and (max-width: 1199px) {
  .modal-form-checkbox {
    font-size: 12px;
  }
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__icon .checkbox__unchecked {
  opacity: 1;
}

.checkbox:checked + .checkbox__icon .checkbox__unchecked {
  opacity: 0;
}

.checkbox__icon .checkbox__checked {
  opacity: 0;
}

.checkbox__input:checked + .checkbox__icon .checkbox__checked {
  opacity: 1;
}

.checkbox__text {
  margin-left: 8px;
}

.checkbox__text--link {
  margin-left: 1px;
  text-decoration: underline;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .checkbox__icon {
    margin-left: 12px;
  }
}

.form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:active,
.form-btn:hover,
.form-btn:focus {
  background-color: var(--button-hover-color);
  border-color: transparent;
  color: #FFFFFF;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}/*# sourceMappingURL=main.css.map */