.clients__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.clients__icon {
    fill: currentColor;
}

.clients__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    }
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    padding: 16px 0;
    color: #afb1b8;

    transition: color 250ms var(--animation-function), border-color,
    250ms var(--animation-function);

    &:hover,
    &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
    }
}

.clients__item {
    @media screen and (max-width: 767px) {
    width: calc((100% - 2 * 30px) / 2);

    margin: 15px;
    max-width: 210px;
    }

    @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 3 * 30px) / 3);

    margin: 15px;
    width: 226px;
    }

    @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 6 * 30px) / 6);
    
    margin: 15px;
    width: 170px;
    }
}
